In [1]:
import mysql.connector

For the following to work make sure to import the ```insurance.sql``` script into the database first!  This can be done with:

```bash
docker exec -i some-mysql mysql -h0.0.0.0 -uroot -pmy-secret-pwd < insurance.sql
```

In [2]:
# connect to the db
conn = mysql.connector.connect(user='myuser', 
                               password='FinoAllaFine!',
                               host='mysql',
                               port=3306,
                               database='insurance', 
                               use_pure=True)

conn.autocommit = True # set autocommit to true

In [3]:
# insert gonzalo
query = "insert into insurance.driver(licno, name, surname, gender) values (%s, %s, %s, %s)"
args =  ('999999', 'Gonzalo', 'Higuain', 'M')
cursor = conn.cursor()
cursor.execute(query, args)
cursor.close()

True

In [4]:
query = "UPDATE driver SET surname = %s WHERE licno = %s"
data = ("Mallia", "999999")
cursor = conn.cursor()
cursor.execute(query, data)
cursor.close()

True

In [5]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM driver")
rows = cursor.fetchall() # fetchmany() if this resultset is huge
print('Total Row(s):', cursor.rowcount)
for row in rows:
    print(row)
cursor.close()

Total Row(s): 9
('111111', 'Jean-Paul', 'Ebejer', 'M')
('222222', 'Alan', 'Aguis', 'F')
('333333', 'Eman', 'Borg', 'M')
('444444', 'Carla', 'Mamo', 'F')
('555555', 'Joe', 'Tonna', 'M')
('666666', 'John', 'Grech', 'M')
('777777', 'Jon', 'Pires', 'M')
('888888', 'Alba', 'Mamo', 'F')
('999999', 'Gonzalo', 'Mallia', 'M')

True

In [6]:
query = "delete from insurance.driver where licno=%s"
cursor = conn.cursor()
cursor.execute(query, ("999999", ))
cursor.close()

True

In [7]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM driver")
rows = cursor.fetchall() # fetchmany() if this resultset is huge
print('Total Row(s):', cursor.rowcount)
for row in rows:
    print(row)
cursor.close()

Total Row(s): 8
('111111', 'Jean-Paul', 'Ebejer', 'M')
('222222', 'Alan', 'Aguis', 'F')
('333333', 'Eman', 'Borg', 'M')
('444444', 'Carla', 'Mamo', 'F')
('555555', 'Joe', 'Tonna', 'M')
('666666', 'John', 'Grech', 'M')
('777777', 'Jon', 'Pires', 'M')
('888888', 'Alba', 'Mamo', 'F')

True

In [8]:
conn.close()